<!-- Tu plantilla HTML -->
{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="text-center mb-4">Crear Noticias</h1>

            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            <form action="{% url 'crear_noticia' %}" method="post" enctype="multipart/form-data" class="mb-5">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_titulo" class="form-label">Título</label>
                    {{ form.titulo }}
                </div>
                <div class="mb-3">
                    <label for="id_descripcion" class="form-label">Descripción</label>
                    {{ form.descripcion }}
                </div>
                <div class="mb-3">
                    <label for="id_imagen" class="form-label">Imagen</label>
                    {{ form.imagen }}
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
