{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page content-->
<div class="container mt-5 content-container">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4 text-center">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ noticia.titulo }}</h1>
                </header>

                <!-- Preview image figure-->
                <figure class="mb-4 text-center">
                    <!-- Mostrar la imagen de la noticia -->
                    {% if noticia.imagen %}
                    <img class="img-fluid rounded" src="{{ noticia.imagen.url }}" alt="{{ noticia.titulo }}" />
                    {% else %}
                    <img class="img-fluid rounded" src="{% static 'ruta/de/imagen/por/defecto.jpg' %}" alt="Imagen por defecto" />
                    {% endif %}
                </figure>

                <!-- Post content-->
                <section class="mb-5">
                    <p>{{ noticia.descripcion }}</p>
                    <!-- Post meta content (Usuario y Fecha) -->
                    <div class="text-muted fst-italic mb-2">
                        Publicado por {{ noticia.user.username }} el {{ noticia.fecha }}
                    </div>

                    <!-- Formulario para editar la noticia -->
                    {% if noticia.user == request.user %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="id_imagen">Imagen:</label>
                        {{ form.imagen }}
                        <br>
                        <label for="id_titulo">Título:</label>
                        {{ form.titulo }}
                        <!-- Otros campos del formulario -->
                        {{ form.descripcion }}
                        <button type="submit" class="btn btn-primary mt-2">Actualizar</button>
                    </form>
                    <form action="{% url 'borrar_noticia' noticia.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger mt-2">Borrar</button>
                    </form>
                    {% endif %}
                </section>
            </article>
        </div>
    </div>
</div>

{% endblock %}
