{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static 'assets/img/chaco.jpg' %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>Noticias</h1>
                        <h2 class="subheading">Aquí mostramos todas las noticias</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% for noticia in noticias %}
                        <a href="{% url 'noticia_detalles' noticia.pk %}">
                            <h2>{{ noticia.titulo }}</h2>
                            {% if noticia.imagen %}
                                <img class="img-fluid" src="{{ noticia.imagen.url }}" alt="{{ noticia.titulo }}" />
                            {% else %}
                                <!-- Si no hay imagen asociada, muestra una imagen predeterminada -->
                                <img class="img-fluid" src="{% static 'assets/img/default-image.jpg' %}" alt="Imagen predeterminada" />
                            {% endif %}
                        </a>
                        <p>{{ noticia.descripcion|slice:":200" }}{% if noticia.descripcion|length > 200 %}...{% endif %}</p>
                        <p>{{ noticia.user.username }}</p>
                        <!-- Puedes agregar más detalles de la noticia si es necesario -->
                        
                        <!-- Más contenido de la noticia si es necesario -->

                        <!-- Fin del detalle de la noticia -->
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>
{% endblock content %}
